@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using DataAccess.Models;
<h1>List All Products</h1>
<a class="btn btn-primary" asp-controller="Product" asp-action="Add">Add new product</a>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Name</th>
                <th>UnitPrice</th>
                <th>UnitInstock</th>
                <th>Weight</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductVM s in @Model)
            {
                <tr>
                    <td>@s.ProductId</td>
                    <td>@s.CategoryName</td>
                    <td>@s.Name</td>
                    <td>@s.UnitPrice</td>
                    <td>@s.UnitInStock</td>
                    <td>@s.Weight</td>
                    <td><a asp-controller="product" asp-action="delete" asp-route-id="@s.ProductId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>