@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using BussinessObject.Models

<h1>Home page for user</h1>
<a asp-controller="Order" class="btn btn-primary" asp-action="OrderHistory">View order history</a>
@{
    if (ViewBag.AddSuccess != null)
    {
        <span class="text text-success">@ViewBag.AddSuccess</span>
    }
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">UnitPrice</th>
            <th scope="col">UnitInstock</th>
            <th scope="col">Weight</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody id="product-user">
        @{
            foreach (ProductVM item in Model)
            {
                <tr>
                    <td id="productId">@item.CategoryName</td>
                    <td>@item.Name</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.UnitInStock</td>
                    <td>@item.Weight</td>
                    <td>
                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.ProductId">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>